@page "/art/{Id:long}"
@inherits ArticleBase

@if (ArticleModel != null && SplitBodyText != null)
{
    <div class="article-wrapper">
        <div class="article-author">
            Published @ArticleModel.PublishedDate by @ArticleModel.User
        </div>
        <div class="article-title">@ArticleModel.Title</div>
        <div class="article-intro">@ArticleModel.IntroText</div>
        <div class="article-image">
            <img alt="" src="img/@ArticleModel.ImagePath">
        </div>
        <div class="article-body">
            @foreach (var item in SplitBodyText)
            {
                @item
                <br />
            }
        </div>
        @if (ArticleModel.PublishedDate != ArticleModel.UpdatedDate)
        {
            <div class="article-author">
                Last updated: @ArticleModel.UpdatedDate
            </div>
        }
    </div>

    <AuthorizeView>
        <NotAuthorized>
            <div class="article-author">You must <a href="authentication/login" style="color: #559b68;">login</a> in order to comment</div>
        </NotAuthorized>
        <Authorized Context="AuthContext">
            <EditForm Model="@CommentViewModel" OnValidSubmit="HandleValidComment">
                <DataAnnotationsValidator />

                <ArticleCommentForm CommentViewModel="@CommentViewModel" User="@CommentAs" />

                <div class="form-validation">
                    <ValidationMessage For="@(() => CommentViewModel.BodyText)" />
                </div>
                <button type="submit" class="form-submit" style="margin: 0;">Comment</button>
            </EditForm>            
        </Authorized>
    </AuthorizeView>

    if (Comments == null)
    {
        <div class="article-author" style="margin: 1em 0;">Loading comments...</div>
    }
    else if (Comments.Count == 0)
    {
        <div class="article-author" style="margin: 1em 0;">There's no comments</div>
        }
        else
        {
            @foreach (var i in Comments)
            {
                <div class="comment-wrapper">
                    <div class="comment-user">
                        @if (i.PublishedDate == i.UpdatedDate)
                        {
                            <div>@i.User <span class="comment-date">@i.PublishedDate</span></div>
                        }
                        else
                        {
                            <div>@i.User <span class="comment-date">Last edited @i.UpdatedDate</span></div>
                        }
                        <div>
                            @if (i.User == CommentAs)
                            {
                                <button class="comment-edit-button" @onclick="() => HandleEditComment(i.Id)">Edit</button>
                                <button class="comment-edit-button" @onclick="() => HandleDeleteComment(i.Id)">Delete</button>
                            }
                        </div>
                    </div>
                    <div class="comment-comment">
                        @i.BodyText
                    </div>
                </div>
            }
        }
    }
    else
    {
        <h4>Article not found</h4>
    }
