@inherits ArticleFormBase

<div class="form-wrapper">
    <div class="form-label">
        Title
    </div>
    <InputText class="form-input" placeholder="@(Model.Title == null ? "Insert article title..." : Model.Title)"
               @bind-Value="Model.Title" />
    <div class="form-validation">
        <ValidationMessage For="@(() => Model.Title)" />
    </div>
</div>

<div class="form-wrapper">
    <div class="form-label">
        Intro Text
    </div>
    <InputTextArea class="form-input form-textarea" placeholder="@(Model.IntroText == null ? "Insert intro text..." : Model.IntroText)" rows="3"
                   @bind-Value="Model.IntroText" style="min-height: 100px;" />
    <div class="form-validation">
        <ValidationMessage For="@(() => Model.IntroText)" />
    </div>
</div>

<div class="form-wrapper">
    <div class="form-label">
        Article Text
    </div>
    <InputTextArea class="form-input form-textarea" placeholder="@(Model.BodyText == null ? "Insert article text..." : Model.BodyText)" rows="8"
                   @bind-Value="Model.BodyText" style="min-height: 250px;" />
    <div class="form-validation">
        <ValidationMessage For="@(() => Model.BodyText)" />
    </div>
</div>

@if (CategoriesViewModel != null)
{
    <div class="form-wrapper">

        <div class="form-label">
            Category
        </div>
        <div class="form-input">
            @foreach (var item in CategoriesViewModel)
            {
                <InputCheckbox placeholder="@item.Selected" id="@item.Name"
                               @bind-Value="@item.Selected" />
                <label for="@item.Name">@item.Name</label>
                <br />
            }
        </div>
        <div class="form-validation">
            <ValidationMessage For="@(() => Model.Category)" />
        </div>
    </div>
}

<div class="form-wrapper">
    <div class="form-label">
        Image
    </div>
    <InputText class="form-input" placeholder="@(Model.ImagePath == null ? "Insert image..." : Model.ImagePath)"
               @bind-Value="Model.ImagePath" />
    <div class="form-validation">
        <ValidationMessage For="@(() => Model.ImagePath)" />
    </div>
</div>